<footer class="pt-100 mb-0 mt-5" style="border-top: solid 2px;">
	<div class="container">
	  <section>
		<div class="container text-left text-md-start mt-0">
		  <div class="row pt-3">
			<!-- <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-0">
			  <a target="_blank" href="https://www.dfg.de/">
				<img src={{ '/assets/img/dfg_logo_schriftzug_blau_foerderung_en__1200x376.png' | relative_url }}
				  class="img-fluid" alt="dfg_logo">
			  </a>
			</div> -->
			<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-0">
			  <p>
				<a href="https://nfdi4microbiota.de/legals/disclaimer" class="footer-link">
				  <i class="fas fa-lock me-3"></i>
				  Privacy policy
				</a>
			  </p>
			  </div>
			  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-0">
			  <p>
				<a href="https://nfdi4microbiota.de/legals/impressum" class="footer-link">
				  <i class="fas fa-scale-balanced me-3" style="max-width:16px;"></i>
				  Impressum
				</a>
			  </p>
			  </div>
			  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-0">
			  <p>
				<a href="https://nfdi4microbiota.de/legals/disclaimer" class="footer-link">
				  <i class="fas fa-file-lines me-3 ms-1"></i></i>
				  Disclaimer
				</a>
			  </p>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-0">
			  <p>
				<a href="https://lists.nfdi.de/postorius/lists/nfdi4microbiota-announce.lists.nfdi.de/"
				  class="footer-link" target="_blank">
				  <i class="fas fa-envelopes-bulk me-3"></i>
				  Mailing list
				</a>
			  </p>
			  <!--<p><i class="fas fa-phone me-3"></i> +49 (0)221 478-5685</p> !-->
			</div>
		  </div>
		</div>
	  </section>
	</div>
  </footer>