<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="{{ '/ | relative_url }}"
                    aria-label="Bootstrap">

                    <img src="{{ '/assets/img/dfg_logo_schriftzug_blau_foerderung_en__1200x376.png' | relative_url }}" height="100" width="300"></img>
               
                </a>
                
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5><a href="https://nfdi4microbiota.de/legals/privacy-policy.html">Privacy policy</a></h5>
                
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5><a href="https://nfdi4microbiota.de/legals/imprint.html">Impressum</a></h5>
                
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5><a href="https://nfdi4microbiota.de/legals/disclaimer.html">Disclaimer</a></h5>
                
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5><a href="https://lists.nfdi.de/postorius/lists/nfdi4microbiota-announce.lists.nfdi.de/">Mailing list</a></h5>
               
            </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 text-center">
          <h5>Get Help</h5>
          <p>If you have any further questions about the management and analysis of your microbial research data, please contact us: 
          <a href="mailto:helpdesk@nfdi4microbiota.de">helpdesk@nfdi4microbiota.de</a> 
          (by emailing us you agree to the 
          <a href="https://nfdi4microbiota.de/legals/privacy-policy.html">privacy policy - in German</a> 
          on our website: 
          <a href="https://nfdi4microbiota.de/contact-form/">Contact</a>). 
          The legaly non-binding English translation can be found here: 
          <a href="{{ '/_Privacy-Policy-English-Translation/Privacy-Policy-English-Translation.md' | relative_url }}">
          English Translation</a>.
          </p>
          </div>
        </div>
    </div>
</footer>
