<footer class="bg-light">
	<div class="container">
		<section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
			<div class="me-5 d-none d-lg-block">
				<span>Connect with NFDI4Microbiota on social networks:</span>
			</div>
			
		</section>
		<section>
			<div class="container text-center text-md-start mt-0">
				<div class="row mt-3">
        				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
	  					<a href="https://www.dfg.de/"><img src={{ '/assets/img/dfg_logo_schriftzug_blau_foerderung_en__1200x376.png' | relative_url }} class="img-fluid" alt="dfg_logo"></a>
					</div>
        				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          					<h6 class="text-uppercase fw-bold mb-2">Legals</h6>
						<p><a href="https://nfdi4microbiota.de/legals/privacy-policy" class="text-reset">Privacy policy</a></p>
						<p><a href="https://nfdi4microbiota.de/legals/impressum" class="text-reset">Impressum</a></p>
						<p><a href="https://nfdi4microbiota.de/legals/disclaimer" class="text-reset">Disclaimer</a></p>
        				</div>
        				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          					<h6 class="text-uppercase fw-bold mb-2">Social Media</h6>
						<p><a href="https://twitter.com/nfdi4microbiota?lang=en" class="text-reset">Twitter</a></p>
						<p><a href="https://github.com/NFDI4Microbiota" class="text-reset">Github</a></p>
        				</div>
        				<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<h6 class="text-uppercase fw-bold mb-2">Contact</h6>
          					<p><i class="fas fa-envelope me-3"></i>contact@nfdi4microbiota.de</p>
          					<!--<p><i class="fas fa-phone me-3"></i> +49 (0)221 478-5685</p> !-->
        				</div>
				</div>
			</div>
</footer>
