<footer class="footer mt-auto py-3 bg-light h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="container py-3">
    <div class="row">
      <div class="col">
        {%- if site.author %}
        <ul class="contact-list list-unstyled">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
        <p class="feed-subscribe">
          <a class="btn btn-orange text-white" href="{{ 'feed.xml' | relative_url }}">
            <i class="bi bi-rss-fill"></i>
            <span>Subscribe</span>
          </a>
        </p>
      </div>
      <div class="col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
    {%- if site.bootstrap.social_links -%}
    <div class="row py-3">
      <div class="col">
        {%- include social.html -%}
      </div>
    </div>
    {%- endif -%}
  </div>
</footer>
