<nav class="navbar navbar-expand-lg navbar-light  bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand ms-2" href={{ '/' | relative_url }}>
      <img src={{ '/assets/img/nfdi4microbiota_Logo_new.png' | relative_url }} alt="" width="400"
        height="80" class="img-fluid" style="max-height: 85px; max-width:150px;">
    </a>
    <a class="navbar-brand ms-2" href="https://www.dfg.de/">
      <img src={{ '/assets/img/dfg_logo_schriftzug_blau_foerderung_en__1200x376.png' | relative_url }} alt="" width="400"
        height="100" class="img-fluid" style="max-height: 100px; max-width:250px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-self-sm-end" id="navbarSupportedContent">
      <!-- Navigation items start -->
      <ul class="nav navbar-nav ms-auto">

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Work programme
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href={{ '/work-programme/ta1-community-network-training' | relative_url }}>TA 1 – Community, Networking & Training </a><hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/work-programme/ta2-standard-policies' | relative_url }}>TA 2 – Standards & Policies</a><hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/work-programme/ta3-services' | relative_url }}>TA 3 – Services </a><hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/work-programme/ta4-technical-infrastructure' | relative_url }}>TA 4 – Technical Infrastructure </a><hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/work-programme/ta5-coordination-communication' | relative_url }}>TA 5 – Coordination & Communication </a>
          </div>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Research
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
		        <a class="dropdown-item" href="#">Workflows</a><hr class="dropdown-divider">
            <a class="dropdown-item" href="#">Databases</a><hr class="dropdown-divider">
            <a class="dropdown-item" href="#">Long-term preservation</a><hr class="dropdown-divider">
            <a class="dropdown-item" href="#">Electronic lab notebook</a><hr class="dropdown-divider">
            <a class="dropdown-item" href="#">Data quality & provenance</a><hr class="dropdown-divider">
            <a class="dropdown-item" href="#">Data deposition & repositories</a>
          </div>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            About Us
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/consortium/partners">Partners</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/consortium/participants">Participants</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/consortium/supporting-societies">Professional
              societies</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/consortium/international-partners">International
              networks</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/consortium/interactions">Interactions with other
              NFDI</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Community
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/participate">Roles of participants</a>
            <a class="dropdown-item" href="https://nfdi4microbiota.de/ambassador">Ambassador programme</a>
            <!-- <a class="dropdown-item" href={{ '/usecase-form' | relative_url }}>Use case submission</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Content Hub
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/consortium/partners">Knowledge base</a><hr class="dropdown-divider">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/consortium/partners">Glossary</a><hr class="dropdown-divider">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/docs">N4M Handbook</a>
            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://nfdi4microbiota.de/trainings/all-trainings">
            Trainings
          </a>
          <!-- <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/trainings/open-trainings">Open <span style="margin-left:15px;"><i class="fa-solid fa-lock-open"></i></span></a><hr class="dropdown-divider">
            <a class="dropdown-item" href="/trainings/closed-trainings">Closed <span style="margin-left:15px;color:#ffb22d"><i class="fa-solid fa-lock"></i></span></a>
          </div>-->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Newsroom
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/latest/news">Latest News</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/latest/jobs">Jobs</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/latest/newsletter">Newsletter</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="https://nfdi4microbiota.de/latest/publications">Publications</a>
          </div>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Downloads
          </a>
          <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href={{ '/downloads/community-workshops' | relative_url }}>Workshops</a><hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/downloads/nfdi-conferences' | relative_url }}>NFDI conferences</a><hr class="dropdown-divider">
            <a class="dropdown-item" href={{ '/downloads/zenodo-communities' | relative_url }}>Zenodo communities</a>
          </div>
        </li> -->




        <li class="nav-item">
          <a class="nav-link" href="https://nfdi4microbiota.de/contact-form">Contact and FAQs</a>
        </li>



        
        <!-- <li class="nav-item">
          <a class="nav-link" href={{ '/contact-form' | relative_url }}>FAQs</a>
        </li> -->

      </ul>

      <!-- Search bar -->
      <!-- <form class="d-flex">
        <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
