<div class="p-4 rounded bd-grey mt-4 d-flex flex-wrap gap-2">
    {% for author_id in page.authors %}
    {% assign author = site.data.contributors[author_id] %}
    {% if author %}
    <button class="btn btn-sm btn-toggle d-flex gap-2 rounded align-items-center position-relative" 
        type="button" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus" data-bs-placement="top"
        data-bs-content='
            <div class="position-relative text-center">
                <div> 
                <img src="https://github.com/{{ author.github }}.png" 
                     onerror="this.onerror=null; this.src=&quot;{{ "/assets/img/usericon.png" | relative_url }}&quot;" 
                     class="rounded-circle mb-2" width="144" height="144">
                {% if author.role %}
                <span class="badge position-absolute top-0 end-0">{{ author.role }}</span>
                {% endif %}
                </div>
                <p class="mb-1 fw-semibold">{{ author.name }}</p>
                <p class="small mb-2 text-warning" >{{ author.affiliation }}</p>
                <hr>
                <div class="d-flex justify-content-center gap-2">
                    {% if author.github %}
                    <a class="btn btn-sm bd-grey hover-warning social-icons rounded-circle p-0" href="https://github.com/{{ author.github }}" target="_blank" rel="noopener">
                        <i class="fa-brands fa-github fa-lg"></i>
                    </a>
                    {% endif %}
                    {% if author.email %}
                    <a class="btn btn-sm bd-grey hover-warning social-icons rounded-circle p-0" href="mailto:{{ author.email }}" target="_blank" rel="noopener">
                        <i class="fa-solid fa-envelope fa-lg"></i>
                    </a>
                    {% endif %}
                    {% if author.orcid %}
                    <a class="btn btn-sm bd-grey hover-warning social-icons rounded-circle p-0" href="https://orcid.org/{{ author.orcid }}" target="_blank" rel="noopener">
                        <i class="fa-brands fa-orcid fa-lg"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            '>
        <img src="https://github.com/{{ author.github }}.png" class="p-0 rounded-circle" width="30px" height="30px"
        onerror="this.onerror=null; this.src=&quot;{{ '/assets/img/usericon.png' | relative_url }}&quot;"
        /> {{ author.name }}
    </button>
    {% endif %}
    {% endfor %}
</div>
