{%- assign social = site.bootstrap.social_links -%}

<ul class="text-center list-inline">
  {%- if social.facebook -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.facebook }}"><i class="bi bi-facebook" role="img" aria-label="Facebook"></i></a></li>{%- endif -%}
  {%- if social.github -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.github }}"><i class="bi bi-github"role="img" aria-label="GitHub"></i></a></li>{%- endif -%}
  {%- if social.instagram -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.instagram }}"><i class="bi bi-instagram"role="img" aria-label="Instagram"></i></a></li>{%- endif -%}
  {%- if social.linkedin -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.linkedin }}"><i class="bi bi-linkedin"role="img" aria-label="LinkedIn"></i></a></li>{%- endif -%}
  {%- if social.twitter -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.twitter }}"><i class="bi bi-twitter"role="img" aria-label="Twitter"></i></a></li>{%- endif -%}
  {%- if social.google -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.google }}"><i class="bi bi-google"role="img" aria-label="Google"></i></a></li>{%- endif -%}
  {%- if social.youtube -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.youtube }}"><i class="bi bi-youtube"role="img" aria-label="YouTube"></i></a></li>{%- endif -%}
  {%- if social.twitch -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.twitch }}"><i class="bi bi-twitch"role="img" aria-label="Twitch"></i></a></li>{%- endif -%}
  {%- if social.telegram -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.telegram }}"><i class="bi bi-telegram"role="img" aria-label="Telegram"></i></a></li>{%- endif -%}
  {%- if social.whatsapp -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.whatsapp }}"><i class="bi bi-whatsapp"role="img" aria-label="WhatsApp"></i></a></li>{%- endif -%}
  {%- if social.discord -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.discord }}"><i class="bi bi-discord"role="img" aria-label="Discord"></i></a></li>{%- endif -%}
  {%- if social.slack -%}<li class="list-inline-item"><a rel="me" class="link-secondary" href="{{ social.slack }}"><i class="bi bi-slack"role="img" aria-label="Slack"></i></a></li>{%- endif -%}
</ul>
