body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 height: 100%; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  text-decoration: none !important;
}

.custom-dropdown .btn:active, .custom-dropdown .btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none; }

.custom-dropdown .btn.btn-custom {
  border: 1px solid #efefef; }

.custom-dropdown .dropdown-link {
  display: inline-block;
  padding-right: 40px;
  position: relative; }

.custom-dropdown .dropdown-item {
  font-size: 14px;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 10px;
  position: relative; }
.custom-dropdown .dropdown-item:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #efefef;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
.custom-dropdown .dropdown-item:hover {
    color: #000; }
.custom-dropdown .dropdown-item:hover:before {
      top: 50%;
      background: #ffb22a; }

/* .custom-dropdown .dropdown-menu {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0px !important;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  left: 0 !important;
  -webkit-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  -o-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  visibility: hidden; } */
.custom-dropdown .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    margin-top: 20px !important; } 
.dropdown-divider{
    border-bottom: 1px solid #efefef;
    margin: .1rem 0;
    }

.my-7 {
    margin-top: 4rem; 
    margin-bottom: 4rem; 

}

.mb-7 {
    margin-bottom: 8rem !important; 

}

.news_item p > img{
	max-width: 100%;
	box-sizing: content-box;
}
.error_btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}
.green {
    border: 4px solid #ffb12a;
    color: #0e0620;}

.green:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background: #ffb12a;
      z-index: -1;
      transition: 0.2s ease;
 }
.green:hover {
      color: #fff;
      background: #ffb12a;
      transition: 0.2s ease;
}

.dropdown-item.active, .dropdown-item:active{
	background-color:  #ffb12a;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.fa-twitter:hover{
	color: #ffb12d;
}
.fa-google:hover{
	color: #ffb12d;
}
.fa-github:hover{
	color: #ffb12d;
}
.news_header a {
  color: #444444 !important;
  transition: all 0.3s ease 0s;
}
.news_header a:hover {
  color: #ffb12d !important;
}
iframe.embed-responsive-item{
 width:100%;
 height:100%;
}
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

/* Hidden input */
#fs-frm input.dispnon {
  display: none;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm [type="submit"]:hover {
  background-color: #ffb12d;

}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
.search_result{
	z-index:99;
	position:absolute;
	right:0;
}

.search_result-docs{
	z-index:99;
	position:absolute;
}


/* for floating contact buttons */
.float{
	/* position:inherit; */
  display: inline-block;
	width:60px;
	height:60px;
	/* bottom:40px;
	right:40px; */
	background-color:#ffb12d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  margin-top: 5px;;
}

.my-float{
	margin-top:22px;
}

.floatpanel{
  position: fixed;
  width: 60px;
  height: 240px;
  bottom: 10%;
  right: 2%;
}

/* To show the calender in place of icon on the event section */
.update-event_icon {
  width: 2.70em;
  float: left;
  margin-right: 0.75em;
  display: inline-block;
}
.event_month {
  background: #ffb12d;
  text-align: center;
  font-weight: bold;
  font-size: 0.75em;
  color: white;
}

.event_day {
  border: 1px solid #999;
  background: white;
  color: black;
  font-size: 0.75em;
  font-weight: bold;
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  text-align: center;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.navbar-nav li:hover > ul.submenu-ul {
    display: block;
}

/* footer icons and links */
.footer-link {
  color: rgba(0, 0, 0, 0.7);
}

.footer-link:hover {
  color: #ffb12d;
}

.fa-twitter:hover {
  color: #ffb12d;
}

.fa-google:hover {
  color: #ffb12d;
}

.fa-github:hover {
  color: #ffb12d;
}

.fa-lock:hover {
  color: #ffb12d;
}

.fa-scale-balanced:hover {
  color: #ffb12d;
}

.fa-file-lines:hover {
  color: #ffb12d;
}

.fa-paper-plane:hover {
  color: #ffb12d;
}

.fa-envelopes-bulk:hover {
  color: #ffb12d;
}

/* Class for Github edit link */
.edit:hover {
  color: #ffb12d;
}

.news_header a {
  color: #444444 !important;
  transition: all 0.3s ease 0s;
}

.news_header a:hover {
  color: #ffb12d !important;
}


.PageHeadingOrange{
  background-color: #ffb12d;
}

/* for rounded buttons */
.float {
  /* position:inherit; */
  display: inline-block;
  width: 60px;
  height: 60px;
  /* bottom:40px;
	right:40px; */
  background-color: #ffb12d;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  margin-top: 5px;
  ;
}

.N4MColor:{
  color:#ffb12d;
}


/* for Custome ScrollBar */
.scroll {
  overflow-y: scroll;
  height: 120px;
  width: 300px;
  margin: 10px 5px; padding: 5px;
  text-align: left;
}
.scroll::-webkit-scrollbar {
  width:8px;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius:5px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px #ffb12d; 
}


.scroller {
  overflow-y: scroll;
  height: 120px;
  /* width: 300px; */
  margin: 10px 5px; padding: 5px;
  text-align: left;
}

#TableOfContents .toc-h2 a {
  font-size: 0.9em; /* Reduce the font size for h2 links */
}
