beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
PyYAML==6.0.2
requests==2.32.5
ruff==0.12.10
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
