---
layout: default
---

<!--Top bar-->
<div class="col-auto col-md-12 col-xl-12 px-sm-12" style="background-color:#ffb529;">
	<h1 class="py-4 text-center">The NFDI4Microbiota Knowledge Base</h1>
</div>


<div class="container-fluid mb-5">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 border-end border-3 rounded-start border-secondary">
      
      <!--Sidebar-->
      <div class="flex-shrink-0 p-3 bg-white">

        <!--Search bar-->
        <form class="d-flex">
          <input id="search-input-docs" class="form-control me-2" type="search" placeholder="search handbook" aria-label="Search">
        </form>
        <div class="list-group col-sm-1 search_result-docs" id="results-container-docs" style="width:12%;"></div>

        <!--Side bar items-->
        <ul class="list-unstyled ps-0">

          <li class="border-top my-3"></li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="true">
              Getting Started
            </button>
            <div class="collapse show" id="getting-started-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% assign rdm_pages = site.Getting-Started %}
                {% for page in rdm_pages %}
                  <li><a href="{{ page.url | relative_url }}" class="link-dark rounded">{{ page.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rdm-collapse" aria-expanded="true">
              Research Data Management (RDM)
            </button>
            <div class="collapse show" id="rdm-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% assign rdm_pages = site.RDM %}
                {% for page in rdm_pages %}
                  <li><a href="{{ page.url | relative_url }}" class="link-dark rounded">{{ page.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rda-collapse" aria-expanded="true">
              Reproducible data analysis
            </button>
            <div class="collapse show" id="rda-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% assign rda_pages = site.RDA %}
                {% for page in rda_pages %}
                  <li><a href="{{ page.url | relative_url }}" class="link-dark rounded">{{ page.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#glossary-collapse" aria-expanded="true">
              Resources
            </button>
            <div class="collapse show" id="glossary-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% assign glossary_pages = site.Resources %}
                {% for page in glossary_pages %}
                  <li><a href="{{ page.url | relative_url }}" class="link-dark rounded">{{ page.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#examples-collapse" aria-expanded="true">
              SOPs
            </button>
            <div class="collapse show" id="examples-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% assign example_pages = site.SOPs %}
                {% for page in example_pages %}
                  <li><a href="{{ page.url | relative_url }}" class="link-dark rounded">{{ page.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#operations-collapse" aria-expanded="true">
              How We Operate
            </button>
            <div class="collapse show" id="operations-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% assign example_pages = site.How-We-Operate %}
                {% for page in example_pages %}
                  <li><a href="{{ page.url | relative_url }}" class="link-dark rounded">{{ page.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>
        
        </ul>

      </div>
    </div>
  
    <div class="col py-3">
      <!-- <h2 class="my-4 d-flex align-items-center justify-content-center"> {{ page.title }} </h2> -->
      <h1>{{ page.title }}</h1>
      <hr>
      <!-- Contents of Markdown file-->
      {{ content }}

      <!-- Edit button -->
      {% if page.url != "/" %}
        {% assign git_url = page.url | replace_first:'/', '_' | prepend:'docs/' %}
      {% else %}
        {% assign git_url = page.url | replace_first:'/', 'index' %}
      {% endif %}
      <a 
        href="https://github.com/NFDI4Microbiota/nfdi4microbiota-knowledge-base/blob/main/{{ git_url }}.md"
        class="edit"
      >
        <i class="fa-solid fa-pen"></i> Edit this page
      </a>
    </div>

  </div>
</div>

