---
layout: default
---

<!--Top bar-->
<div class="col-auto col-md-12 col-xl-12 px-sm-12" style="background-color:#ffb529;">
	<h1 class="py-4 text-center">The NFDI4Microbiota Knowledge Base</h1>
</div>


<div class="container-fluid mb-5">


  <div class="row flex-nowrap">

    <!--Sidebar-->
    {%- include sidebar.html -%}
    
    <div class="col">
      {%- include breadcrumb.html -%}
      <!-- <h2 class="my-4 d-flex align-items-center justify-content-center"> {{ page.title }} </h2> -->
      <h1>{{ page.title }}</h1>
      <hr>
      <!-- Contents of Markdown file-->
      {{ content }}

      <!-- Check if page is under construction -->
      {% if page.empty %}
        <p>This page is currently empty. Please consider contributing! </p>
      {% endif %}

      <!-- Edit button -->
      {% if page.url != "/" %}
        {% assign git_url = page.url | replace_first:'/', '_' | prepend:'docs/' %}
      {% else %}
        {% assign git_url = page.url | replace_first:'/', 'index' %}
      {% endif %}
      <a 
        href="https://github.com/NFDI4Microbiota/nfdi4microbiota-knowledge-base/blob/main/{{ git_url }}.md"
        class="edit"
      >
        <i class="fa-solid fa-pen"></i> Edit this page
      </a>
    </div>

  </div>

</div>

