---
layout: default
---

<div class=" container" style="margin-top:3rem;">
    <div class=" home-body">
        <h1 style="font-size: 3rem;"><b>Explore the Knowledgebase!</b></h1>
    </div>

    <div class="row row-cols-3 mx-auto my-5">
        <div class="col" style="padding: 20px;">
            <div class="card">
                <a href="{{ 'services/trainings.html' | relative_url }}">
                    <img src="{{ 'assets/img/frontpage/TRAINING_(c)jason-goodman-unsplash.jpg' | relative_url }}"
                        class="card-img img-thumbnail" alt="...">
                        <div class="card-img-overlay bg-dark" style="--bs-bg-opacity: .3; margin: 6px; border-radius: revert;">
                            <h1 class="card-title text-white position-absolute top-50 start-50 translate-middle">Training</h1>
                             </div>
                </a>
            </div>
            <h6 style="margin:1rem; text-align:center;">
                An important goal is the support of the microbiology community by education and training
            </h6>
        </div>

        <div class="col" style="padding: 20px;">
            <div class="card">
                <a href="{{ 'services.html' | relative_url }}">
                    <img src="{{ 'assets/img/frontpage/SERVICES_(c)john-schnobrich-unsplash.jpg' | relative_url }}"
                        class="card img-thumbnail" alt="...">
                        <div class="card-img-overlay bg-dark" style="--bs-bg-opacity: .3; margin: 6px; border-radius: revert;">
                            <h1 class="card-title text-white position-absolute top-50 start-50 translate-middle">Services</h1>
                             </div>
                </a>
            </div>
            <h6 style="margin:1rem; text-align:center;">
                To support your research we offer services such as StrainInfo and VirJenDB
            </h6>
        </div>
        <div class="col" style="padding:  20px;">
            <div class="card">
                <a href="{{ 'contact-form.html' | relative_url }}">
                    <img src="{{ 'assets/img/frontpage/HELPDESK_(c)christopher-gower-unsplash.jpg' | relative_url }}"
                        class="card img-thumbnail" alt="...">
                        <div class="card-img-overlay bg-dark" style="--bs-bg-opacity: .3; margin: 6px; border-radius: revert;">
                            <h1 class="card-title text-white position-absolute top-50 start-50 translate-middle">Helpdesk</h1>
                             </div>
                </a>
            </div>
            <h6 style="margin:1rem; text-align:center;">
                Questions about data managment, data analysis and NFDI4Microbiota will be answered here
            </h6>
        </div>
        <div class="col" style="padding:  20px;">
            <div class="card">
                <a href="{{ 'community/usecase.html' | relative_url }}">
                    <img src="{{ 'assets/img/frontpage/USE-CASES_(c)markus-spiske-unsplash.jpg' | relative_url }}"
                        class="card img-thumbnail" alt="...">
                        <div class="card-img-overlay bg-dark" style="--bs-bg-opacity: .3; margin: 6px; border-radius: revert;">
                            <h1 class="card-title text-white text-nowrap position-absolute top-50 start-50 translate-middle">Use Cases</h1>
                             </div>
                </a>
            </div>
            <h6 style="margin:1rem; text-align:center;">
                Explore scientific projects in the broad field of microbiology research that are performed within the consortium
            </h6>
        </div>
        <div class="col" style="padding: 20px;">
            <div class="card">
                <a href="{{ 'community/ambassador.html' | relative_url }}">
                    <img src="{{ 'assets/img/frontpage/COMMUNITY-ENGAGEMENT_(c)marvin-meyer-unsplash.jpg' | relative_url }}"
                        class="card img-thumbnail" alt="...">
                        <div class="card-img-overlay bg-dark" style="--bs-bg-opacity: .3; margin: 6px; border-radius: revert;">
                            <h1 class="card-title text-white position-absolute top-50 start-50 translate-middle">Community Engagement</h1>
                             </div>
                </a>
            </div>
            <h6 style="margin:1rem; text-align:center;">
                Engage in our creative community via Coffee Talks and our Ambassador Program
            </h6>
        </div>
        <div class="col" style="padding: 20px;">
            <div class="card">
                <a href="{{ 'newsroom/flexfunds.html' | relative_url }}">
                    <img src="{{ 'assets/img/frontpage/FUNDING-SUPPORT_(c)arlington-research-unsplash.jpg' | relative_url }}"
                        class="card img-thumbnail" alt="...">
                        <div class="card-img-overlay bg-dark" style="--bs-bg-opacity: .3; margin: 6px; border-radius: revert;">
                            <h1 class="card-title text-white position-absolute top-50 start-50 translate-middle">Funding</h1>
                             </div>
                </a>
            </div>
            <h6 style="margin:1rem; text-align:center;">
                NFDI4Microbiota offers yearly FlexFunds Calls - get in touch, if you are interested!
            </h6>
        </div>
        
    </div>

    <br>
</div>
</div>



<script>

    function LaunchModal(videosource, heading) {
        $('.modal-body').html('<video width="100%" height="600px" controls autoplay><source src="' + videosource + '" type="video/mp4">Your browser does not support the video tag.</video>')
        $('#basicmodallabel').text(heading);
        $('.modal').modal('toggle');
    }
</script>