---
layout: default
---
<div class="container md">
    <div class="row">
        <div class="col-lg-8">
            <div class="row container mt-5">
                <h2 class="col-lg-10"> Use case </h2>
                <input type="button" class="btn btn-primary col-lg-2" value="Submit usecase">
            </div>
            <div class="d-flex align-items-start col-lg-12">
                {% assign usecase = site.usecases %}
                {% assign counter = 0 %}
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for item in usecase %}
                    <button class="nav-link" id="v-pills-{{ item.title }}-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-{{ item.title }}" type="button" role="tab"
                        aria-controls="v-pills-{{ item.title }}" aria-selected="true">{{ item.title }}</button>
                    {% endfor %}
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    {% for item in usecase %}
                    <div class="tab-pane fade show" id="v-pills-{{ item.title }}" role="tabpanel"
                        aria-labelledby="v-pills-{{ item.title }}-tab">
                        <h3>{{ item.heading }}</h3>
                        <hr />
                        <div>
                            <p>
                                <strong>Abstract:</strong>{{ item.scientificrel }}
                            </p>
                            <p>
                                <strong>Author:</strong> {{ item.case }}
                            </p>
                            <a href="#">Readmore...</a>
                        </div>
                    </div>
                    {% endfor %}


                    <!-- <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <h3>Future Usecases</h3>
                <div>
                    :pushpin: ATTRACTOR: Large-scale integration of metagenomes
                    :pushpin: BIOCAT: Biocatalysis
                    :pushpin: CLINIMIC: Clinical microbiomes
                    :pushpin: CRISPR: From sequence-based diversity to microbial engineering
                    :pushpin: DataSci: Data Scientist
                    :pushpin: MetaBench: Benchmarking metagomics softwares
                    :pushpin: METAMAR: Global impact of climate change on marine biogeochemical cycles
                    :pushpin: METASOIL: Mechanisms of antimicrobial resistance and degradation of pollutants in soils
                    :pushpin: MIC-HOST: Integration of host genetics and microbiome data
                    :pushpin: MICIMG: Microbial Imaging
                    :pushpin: MicroORKG: Making knowledge from microbiological literature FAIR
                    :pushpin: PARA: DNA modifications in gametocytes of the malaria parasite Plasmodium falciparum
                    :pushpin: PATHO: Studying cohorts of bacterial pathogens isolated from hospital-acquired infections
                    :pushpin: PHYLOGEN: Phylogenomics of plant-associated microbiomes
                    :pushpin: PLANT: Root-associated microbiomes
                    :pushpin: RapSARS: Rapid access to new SARS-CoV-2 data
                    :pushpin: RNA-viruses: Pathomechanisms of RNA viruses
                    :pushpin: SMALLPRO: Prokaryotic small PROTEINS in gut metagenomes
                    :pushpin: Soft-DEV: Scientific software developer
                </div>
            </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h2 class="container mt-5">FAQs Use case </h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      What is Use case
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How can you participate?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
<br/>
                      <input type="button" class="btn btn-success" value="Download Template">
                      <input type="button" class="btn btn-primary" value="Submit use case">
                    </div>
                   
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Benefits of Usecases
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                    
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>