matrix:
  - name: Markdown
    aspell:
      lang: en
      d: en_US
    dictionary:
      wordlists:
        - .github/workflows/spellcheck.whitelist
        - .github/workflows/spellcheck.acronyms.whitelist
      encoding: utf-8
    pipeline:
      - pyspelling.filters.markdown:
      - pyspelling.filters.html:
          comments: false
          ignores:
            - ":matches(code, pre)"
            - "code"
            - "pre"
#    sources:
#      - '**/*.md'
    default_encoding: utf-8
